.forma {
    margin: auto;
    padding bottom: 10px;
    width: 1435px;
    height: 50px;
    background-color: black;
    overflow: scroll;
}

.forma__cubo{
    background-color: blueviolet;
}